<!doctype html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
        <meta content="telephone=no" name="format-detection"/>
        <meta content="email=no" name="format-detection"/>
        <title>{{ page.title }}</title>
        <meta name="description" content="haskellchina">
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico">
        <link rel="stylesheet" href="/blog.css">
    </head>
    <body>
    

    <h1><a href="/">home</a></h1>

    <p class="nav">
      <a href="/">Home</a>
      <a href="/about.html">About</a>
    </p> 
    <div class="item">
　　　　{{ content }}
    </div>
    <div class="footer">
      <p class="footercopyright">© 2000-2015 <a href="/">www.haskellchina.com</a>
      </p> 
   </div> 
</body></html>
